.container {
  width: 100%;
  display: flex;
  justify-content: center;

  li {
    display: grid;
    grid-template-columns: 50px 50% 10% 50px;


    div {
      display: flex;
      border: 1px solid black;
      height: 50px;
      justify-content: center;
      align-items: center;
      padding: 15px 10px;

    }

  }
}

h2 {
  text-align: center;
}

.container-pack {
  max-width: 100%;
  display: flex;
  justify-content: center;


  li {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;


    div {
      display: flex;
      border: 1px solid black;
      height: 50px;
      justify-content: center;
      align-items: center;

    }

  }

}